@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #facc15;
  --color-dark: #1f2937;
  --color-light: #f3f4f6;

  --font-inter: var(--font-inter);
}

@layer base {
  body {
    @apply bg-white text-dark font-inter antialiased;
  }
}

/* Marquee Animation for Brand Carousel */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}